<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSMMyMo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Protcl" value="SFTP" />
    <add key="ftphost" value="192.168.205.92" />
    <add key="ftpuser" value="administrator" />
    <add key="ftppassword" value="" />
    <!--<add key="ftphostkey" value="ssh-rsa 2048 f3:b1:cd:13:00:e5:08:c6:f8:32:da:d3:72:2f:56:9d"/>-->
    <!--<add key="ftphostkey" value="ssh-rsa 1024 e4:dd:11:2e:82:34:ab:62:59:1c:c8:62:1d:4b:48:99" />-->
    <add key="ftphostkey" value="ssh-rsa 3072 5c:f4:a4:a2:45:2f:77:ac:c7:eb:9d:81:48:a1:f2:83" />
    <add key="ftpprikey" value="D:\Key\NEWWW.ppk" />
    <add key="ftpPathLocal" value="D:\\webapp\\scoring\\FTP\\IN\\Mymo\\" />
    <add key="ftpPathLocalOut" value="D:\\webapp\\scoring\\FTP\\OUT\\Mymo\\" />
    <add key="ftpPathMymo" value="/ScoringMymo/" />
    <add key="FTPIP" value="Data Source=192.168.205.91;Initial Catalog=GSBBlaze;UID=sa;PWD=P@ssw0rd" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RunWithFTP" value="1"/>   <!--0/1-->
    <add key="RunWithTaskschedule" value="0"/>   <!--0/1-->
  </appSettings>
  <applicationSettings>
    <CSMMyMo.Properties.Settings>
      <setting name="CSMMyMo_RetailBlaze_RetailServiceImplService"
        serializeAs="String">
        <value>http://192.168.205.92:8080/RetailService/RuleService</value>
      </setting>
    </CSMMyMo.Properties.Settings>
  </applicationSettings>
</configuration>