<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="GSBSQLServer" connectionString="Data Source=127.0.0.1;Database=SVF2_DEV;User ID=sa;Password=DBAdmin;Pooling=true;Connection Lifetime=0;Enlist=true;Max Pool Size=100;" providerName="System.Data.SqlClient"/>-->
    <add name="GSBSQLServer" connectionString="Data Source=10.11.60.123;Database=GSBBlaze;User ID=sa;Password=DBAdmin;Pooling=true;Connection Lifetime=0;Enlist=true;Max Pool Size=10;"   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>