<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BatchMymo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Protcl" value="SFTP" />
    <add key="ftphost" value="10.22.51.162" />
    <add key="ftpuser" value="crscore" />
    <add key="ftppassword" value="crscore" />
    <!--<add key="ftphostkey" value="ssh-rsa 2048 f3:b1:cd:13:00:e5:08:c6:f8:32:da:d3:72:2f:56:9d"/>-->
    <add key="ftphostkey" value="ssh-rsa 1024 e4:dd:11:2e:82:34:ab:62:59:1c:c8:62:1d:4b:48:99" />
    <add key="ftpprikey" value="D:\\BOL\\BCK\\CRScore_key.ppk" />
    <add key="ftpPathLocal" value="D:\\webapp\\scoring\\FTP\\IN\\Mymo\\" />
    <add key="ftpPathLocalOut" value="D:\\webapp\\scoring\\FTP\\OUT\\Mymo\\" />
    <add key="ftpPathMymo" value="/ScoringMymo/" />
    <add key="FTPIP" value="Data Source=192.168.205.91;Initial Catalog=GSBBlaze;UID=sa;PWD=P@ssw0rd" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <BatchMymo.Properties.Settings>
      <setting name="BatchMymo_RetailBlaze_RetailServiceImplService" serializeAs="String">
        <value>http://10.22.50.100:8080/RetailService/RuleService</value>
      </setting>
    </BatchMymo.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>