<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GSBSQLServer" connectionString="Data Source=127.0.0.1;Database=GSBBlaze;User ID=sa;Password=DBAdmin;Pooling=true;Connection Lifetime=0;Enlist=true;Max Pool Size=100;" providerName="System.Data.SqlClient"/>
    <!--<add name="GSBSQLServer" connectionString="Data Source=10.11.60.123;Database=GSBBlaze;User ID=sa;Password=DBAdmin;Pooling=true;Connection Lifetime=0;Enlist=true;Max Pool Size=10;"   providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ftp_host" value="127.0.0.1"/>
    <add key="ftp_user" value="FTPAdmin"/>
    <add key="ftp_password" value="password"/>
    <add key="ftp_protocol" value="SFTP"/>
    <add key="ftp_hostkey" value="ssh-rsa 1024 a0:83:b7:98:19:43:69:56:6d:61:a6:6c:71:07:5a:15"/>
    <add key="ftp_prikey" value="D:\\BOL\\Scoring.ppk"/>
    <add key="ftp_path_collateral" value="/COL/" />
    <add key="ftp_extension_collateral" value=".txt" />
    
    <add key="app_data" value="d:\development\bol\application\data\"/>
    <add key="file_collateral" value="cbs_ln_col.txt"/>
    <add key="Logfile" value="C:\ErrorLog\"/>
    
  </appSettings>
</configuration>